.profile {
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 43px rgba(92, 89, 85, 0.6);
}

.description {
    text-align: center;
}

.avatar {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: palevioletred;
}

.name {
    display: block;
    font-size: large;
    font-weight: 900;
}

.tag {
    font-size: medium;
    color: rgb(159, 168, 171);
}

.location {
    font-size: medium;
    color: rgb(159, 168, 171);
}

.stats {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color: rgb(159, 168, 171);
    height: 60px;
}

.label {
    display: block;
    color: white;
}

.quantity {
    display: block;
    font-size: medium;
    font-weight: 700;
}